<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSULTA CAMAS UCI</title>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awsome/5.13.0/css/all.min.css">


    <!-- CUSTOM CSS-->
        <link rel="Stylesheet" href="css/style.css">
</head>
<body>
                    <!-- <img src="IMAGENES/banner2.jpg" alt="CONSULTA LOGOS" class="nav-brand"> -->
            
        <header class="fuente1">
            <nav>
                <!-- <a href="#" class="iniciarsesion"><span>Iniciar Sesion</span> <i class="icon ion-md-person"></i></a> -->
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">CAMAS UCI</i></a>
                </li>
                <li><a href="#">PUNTOS DE RECARGA DE OXIGENO
                </a></li>
                <li><a href="#">CONSULTA MEDICA</a></li>
            </ul>
        </nav>
        </header>
    </div>
        <hr>
        <div class="img1"><img src="img/CamasUCI.jpg" alt="" width="360" height="400"></div>
        <div class="img2"><img src="img/Cmedicas.jpeg" alt="" width="360" height="400"></div>
        <div class="img3"><img src="img/punto oxigeno.jpeg" alt="" width="360" height="400"></div>

        <!-- showcase-->
        <a href="#" class="oxigeno">Punto de recarga de oxigeno</a>
        <h1 class="SERVICIOS">SERVICIOS</h1>
        <h1 class="NOSOTROS">NOSOTROS</h1>
        <h2 class="sub1">
            Aquí encontrarás los puntos de recarga de balones en los diversos distritos de Lima <br>
        </h2>
        <h2 class="sub2">
            Aquí podrás realizar tus consultas médicas <br>
        </h2>
        <h2 class="sub3">
            Aquí te mostramos la disponbilidad de camas UCI y camas UCI que estan ocupadas <br> 
        </h2>
        <a href="#" class="consultas">Consultas Medicas</a>
        <a href="#" class="uci">Cama Uci</a>
        <form action="=" class="formulario">
            <h1 class="formulario__titulo">Contáctenos</h1>
            <input type="text" class="formulario__input">
            <label for=""
            class="formulario__label">Nombres</label>
            <input type="text" class="formulario__input">
            <label for="" class="formulario__label">Correo</label>
            <input type="text" class="formulario__input">
            <label for="" class="formulario__label">Telefono</label>
            <input type="text" class="formulario__input">
            <label for="" class="formulario__label">Mensaje</label>
            <input type="submit" class="formulario__submit">
        </form>
        <script src="form.js"></script>
        

    </div>
    <footer class="fuente2">
        <a href="#" class="colorfooter">Contactanos</a>
        <h3 class="contacto1">Contacto 71313858@certus.edu.pe</h3>
        <h3 class="contacto1">© 2021 Desarrollo.github.io. Todos los Derechos Reservados.</h3>
    </footer>
</body>
</html>

