*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.banner{
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    background-image: url(../img/CamasUCI.jpg)
}
.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.6);
    
}
.info{
    z-index: 1;
    width: 100%;
    max-width: 550px;
    position: center;
    margin: 200px auto;
}
.info h1{
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}
.info p{
    color: #c7c7c7;
    line-height: 1.7;
    margin-bottom: 30px;

}
.info a{
    color: #fff;
    text-decoration: none;
    background: rgb(201, 35, 29);
    padding: 16px 37px;
    display: inline-block;
    border-radius: 50px;
}
.info2{
    text-align: center;
    justify-content: center;
}
.container{
    
    padding: 20px;
    text-align: center;
}
.button{
    background: linear-gradient(102deg, #4551b5 40%, #543fd7 60%);
    color: #ffffff;
    display: inline-block;
    padding: 1rem 2 rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;
}